.Placar {
    background: slategray;
    width: 950px;
    height: 350px;
}

.Casa {
    /* background-image: url('../images/bulls.png'); */
    background: red;
    padding: 40px;
    float: left;
    margin-left: 40px;
    margin-top: 20px; 
    height: 230px;
    width: 230px;  
}
.Partida {
    background: white;
    padding: 20px;
    float: left;
    margin-left: 50px;  
    margin-top: 20px; 
}
.Visitante {
    background: blue;
    padding: 40px;
    float: left;
    margin-left: 240px;
    margin-top: -125px; 
    height: 230px;  
    width: 240px;  
}
.Gol {
    margin-left: 80px;
    font-size: 30px;
    color: white;
    
}
.BtGol {
    margin-left: 5px;
}
.Casinha {
    margin-left: 20px;
    color: white;
}
.Titulo {
    margin-left: 40px;
    color: white;
}
.TituloVisitante {
    margin-left: 20px;
    color: white;
}
